hier_max_level 2
fill_waveform 1
# highlight_wavewindow 1
# color_grid 636363
enable_horiz_grid 0

# Font
fontname_signals FiraCode Nerd Font Mono 11
fontname_waves FiraCode Nerd Font Mono 11

accel "/Edit/Insert Blank" o
accel "/Search/Pattern Search 1" <Control>F
accel "/Edit/Delete" d

disable_mouseover 0 # enable tooltip
